[submodule "engine/lib/core"]
	path = engine/lib/core
	url = https://github.com/MartinNikolovMarinov/core.git
[submodule "engine/lib/glfw"]
	path = engine/lib/glfw
	url = https://github.com/glfw/glfw.git
